body{
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 0px auto;
    padding: 0px;
    max-width: 1500px;
}

/* Common for Header and Information Container */

.headerContainer,
.informationContainer{
    background-color: #1F2937;
    padding: 0px 100px;
}

.Text p,
ul .formatting{
    color: #E5E7EB;  
    font-size: 18px;
}

/* Header Page */

.headerContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formatting{
    font-size: 24px;
    color: #F9F8F7;
}

ul{
    display: flex;
    gap: 20px;
}

li{
    list-style-type: none;
}


/* Information Page */

.informationContainer{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 70px;
}

.Text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

/* Information Page - Image Related */

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    max-height: auto;
    max-width: 50%;
}



button{
    background-color: #3882F6;
    border-radius: 20px;
}

button a{
    color: white;
    text-decoration: none;
}

/* Footer Container */
.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Second Part of the Box */

h3{
    text-align: center;
    background-color: white;
    margin:0;
    padding: 25px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.randomInformationContainer{
    display: flex;
    background-color: white;
    padding: 50px 100px;
}

.randomInformationContainer .photoposition .subimages{
    max-height: auto;
    max-width: 50%;
    border-radius: 10%;
}

.photoposition{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test{
    text-align: center;
    width: 150px;
}

/* Quote Container */
.quoteContainer{
    background: #E5E7EB;
    padding: 50px;

}

.quoteContainer p{
    text-align: center;
    font-size: 36px;
}

.quoteContainer .end{
    text-align: end;
    margin-right: 300px;
    font-size: 36px;
}


